<div className="rails-body">
  <div class="container profile-container">
    <%= image_tag current_user.avatar_url, class: "avatar" %>
    <h1><%= current_user.name %></h1>
  </div>
  <div class="container favorites-container">
    <div class="favorites routes">
      <h3>Favorite Routes</h3>
      <% current_user.user_favorite_routes.each do |l| %>
        <li><%= link_to l.route_id, route_path(l.route_id) %></li>
      <% end %>
    </div>
    <div class="favorites trains">
      <h3>Favorite Trains</h3>
      <% current_user.user_favorite_trains.each do |t| %>
        <li><%= link_to "#{t.train_num} (#{t.route_id})", route_path(t.route_id) %></li>
      <% end %>
    </div>
    <div class="favorites stations">
      <h3>Favorite Stations</h3>
      <% current_user.user_favorite_stations.each do |s| %>
        <li><%= link_to "#{s.station_id} (#{s.route_id})", route_path(s.route_id) %></li>
      <% end %>
    </div>
  </div>
</div>
