<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TrainSpotter" %></title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div id="header-nav">
      </div>
      <div id=title>
      This will be my header
      </div>
      <div id="log-in">
        <%= link_to "Sign Up Now" %>
        <%= link_to "Log in" %>
        <%= link_to "Log out" %>
      </div>
    </header>
    <%= yield %>
    <div id='app'>
    </div>
  </body>
</html>
