<!DOCTYPE html>
<html>
  <head>
    <title>Train Spotter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="row full-width text-align-center">
      <div class="small-4 medium-2 columns header-nav">
        <span><a href="/"><%= image_tag 'logo.png', class: "logo", href: "/" %></a></span>
      </div>
      <div class="small-0 medium-6 columns title-nav"><h1 class="title">Train Spotter</h1><h4 class="sub-title">An organized view of Boston's unorganized transportation system</h4></div>

      <div class="small-4 medium-2 columns user-nav">
        <div class="dropdown nav-menu">
          <span>
            <div class="menu-container" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </span>
          <div class="dropdown-content">
            <%= link_to 'Home', root_path, class: "button sign-on-button" %>
            <%= link_to 'About Us', about_path, class: "button sign-on-button"%>
            <div className="divider"> </div>
            <% if current_user %>
              <%= link_to current_user.name, user_path(current_user.id), class: "button sign-on-button" %>
              <%= link_to 'Logout', logout_path, method: 'delete', class: "button sign-on-button" %>
            <% else %>
              <div className="container">
                <h4 class="user-nav-text button sign-on-button">Log In</h4>
                <div className="user-nav-buttons">
                  <%= link_to 'Facebook', "/auth/facebook", class: "button sign-on-button" %>
                  <%= link_to 'Github', "/auth/github", class: "button sign-on-button" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div id="body">
      <div id="rails-app">
      <%= yield %>
      </div>
      <div id='react-app'>
      </div>
    </div>

  </body>
</html>
