<!DOCTYPE html>
<html>
  <head>
    <title>Train Spotter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Almendra+SC|Artifika|Cinzel|Kotta+One|Bungee" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="row full-width">
        <div class="large-3 columns header-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About Us', about_path %></li>
          <li><%= link_to 'Boston Trains', train_lines_path %></li>
        </div>

        <div class="large-6 columns"><h1 class="title">Train Spotter</h1><h4 class="sub-title">An organized view of Boston's unorganized transportation system</h4></div>

        <div class="large-3 columns user-nav">
          <% if current_user %>
            <h3><%= link_to current_user.name, user_path(current_user.id) %></h3>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
            <h4>Log In
            <button onClick="location.href='/auth/facebook'" class="button sign-on-button" >Facebook</button>
            <button onClick="location.href='/auth/github?callback_url=#{request.fullpath}'" class="button sign-on-button" >Github</button></h4>

          <% end %>
        </div>
    </header>
    <div id="body">
      <%= yield %>
      <div id='app'>
      </div>
    </div>

  </body>
</html>
