<!DOCTYPE html>
<html>
  <head>
    <title>Train Spotter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <header class="row full-width text-align-center">

        <div class="small-4 medium-2 columns header-nav">
          <div class="dropdown nav-menu">
            <span><%= image_tag 'logo.png', class: "logo" %></span>
            <div class="dropdown-content">
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'About Us', about_path %></li>
            </div>
          </div>
        </div>

        <div class="small-0 medium-6 columns title-nav"><h1 class="title">Train Spotter</h1><h4 class="sub-title">An organized view of Boston's unorganized transportation system</h4></div>

        <div class="small-8 medium-4 columns user-nav">
          <% if current_user %>
            <h4 class="user-nav-text"><%= link_to current_user.name, user_path(current_user.id) %></h4>
            <a class="sign-on-button" href='/logout' data-method='delete'><button class="button sign-on-button">Logout</button></a>
          <% else %>
          <div className="container">
            <h4 class="user-nav-text">Log In</h4>
            <div className="user-nav-buttons">
              <button onClick="location.href='/auth/facebook'" class="button sign-on-button" >Facebook</button>
              <button onClick="location.href='/auth/github?callback_url=#{request.fullpath}'" class="button sign-on-button" >Github</button>
            </div>
          </div>
          <% end %>
        </div>
    </header>
    <div id="body">
      <div id="rails-app">
      <%= yield %>
      </div>
      <div id='react-app'>
      </div>
    </div>

  </body>
</html>
