<!DOCTYPE html>
<html>
  <head>
    <title>Train Spotter</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Almendra+SC|Artifika|Cinzel|Kotta+One|Bungee" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="row full-width">
        <div id="header-nav" class="large-2 columns">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About Us', about_path %></li>
          <li><%= link_to 'Boston Trains', train_lines_path %></li>
        </div>

        <div class="title large-8 columns">Train Spotter<br/><div class="sub-title">An organized view of Boston's unorganized transportation system</div></div>

        <div class="large-2 columns">
          <% if current_user %>
            <h3><%= link_to current_user.name, user_path(current_user.id) %></h3>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
            <h1>Log In</h1>
            <button onClick=" location.href='/auth/facebook' " class="button" >Facebook</button>
            <button onClick=" location.href='/auth/github' " class="button" >Github</button>

          <% end %>
        </div>
    </header>
    <div id="body">
      <%= yield %>
      <div id='app'>
      </div>
    </div>

  </body>
</html>
